.body {
  color: rgb(219, 179, 192);
  width: auto;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-size: large;
}

p {
  color: black;
  text-align: center;
  font-size: medium;
}
