body {
  color: rgb(198, 178, 185);
  width: auto;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-size: large;
}

p {
  color: black;
  text-align: center;
  font-size: medium;
}

img {
  width: 100%;
  height: auto;
}

#main {
  text-align: center;
}

#img-div {
  display: inline-block;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 center;
}
